﻿body{
 background-color: #E0FFFF;	
 color:black;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.fon{
	
	 background-color: #E0FFFF;
	margin-left: 0;
	margin-right: 0;
	margin-top: 100px;
}
.fon h2{
	margin-top: 20px;
	text-align:center;
	width:100%;
}

.fon col-md-12{
	margin-left: 20px;
	margin-right: 10px;
	text-align: justify;
}
.featurette-heading{
	width:100%;
}
.fon2{
	
	background-color: #2E8B57;
	margin-left: 0;
	margin-right: 0;
}

.nav_title {
	color:blue;
	font-size: 24px;
	line-height: 9px;
	text-shadow:#cccccc 1px 1px 3px;
	font-family: Courier New, monospace;
}
.opacity {
filter: alpha(opacity=60); /* Полупрозрачность для IE */
-moz-opacity: 0.60; /* Полупрозрачность для старых версий Firefox */
-khtml-opacity: 0.6; /* Полупрозрачность для старых версий Safari */
opacity: 0.60; /* Полупрозрачность для всех браузеров */
}
.col-md-7 {
	color:white;
}
.navbar-dark .navbar-nav .nav-link{
color:white;
}
.mylink{
	color:#E0FFFF;
	text-decoration:none;
}
.mylink:hover{color:white;}
.date{
	color:grey;
}
.featurette-image{
	max-height: 500px;
	float: right;
	display:block; margin:15px auto 25px;
}