a:hover { color:#3E3864; text-decoration: underline }
a, a:visited, a:link { color: #3E3864; text-decoration: none}
a.rek:hover { color:#3E3864; text-decoration: underline }
a.rek, a.rek:visited, a.rek:link { color: #3E3864; text-decoration: none; font-size : 9pt;}

td {font-family : Verdana, Arial, sans-serif ; font-size : 10pt;}

